.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 20px;
  background-color: #e3f3ff;
  box-shadow: rgba(2, 113, 182, 0.1) 0 0 0 1px inset;
}

.icon,
.paragraph {
  display: inline-block;
  margin: 0 !important;
}

.icon {
  margin-right: var(--space-1) !important;
}
