@import "../src/lib/styles/generated/reset.css";
@import "../src/lib/styles/foundation/colors.scss";
@import "../src/lib/styles/foundation/ukPartyColors.scss";
@import "../src/lib/styles/foundation/euPartyColors.scss";
@import "../src/lib/styles/foundation/usPartyColors.scss";

/// DARK MODE ///

.sb-show-main.dark-mode {
  background-color: #1a1a1a;

  @include dark-mode-colors;
  @include dark-mode-party-colors-uk;
  @include dark-mode-party-colors-eu;
}

/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  .sb-show-main.dark-mode {
    scrollbar-color: #1a1a1a #dcdcdc;
  }
}

/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
@supports selector(::-webkit-scrollbar) {
  .sb-show-main.dark-mode::-webkit-scrollbar {
    background: #1a1a1a;
  }

  .sb-show-main.dark-mode::-webkit-scrollbar-thumb {
    background: #dcdcdc;
  }
}

/// DOCS STYLING ///

.sbdocs {
  p,
  ol,
  ul,
  li {
    font-size: var(--body-medium);
    line-height: var(--body-line-height);
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  li {
    margin: 8px 0;
  }

  pre,
  code {
    font-family: ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono",
      "Ubuntu Monospace", "Source Code Pro", "Droid Sans Mono", "Courier New",
      monospace;
    font-size: var(--sans-small);
  }

  .token.function {
    color: #f3c100 !important;
  }

  h2 {
    margin-top: 40px !important;
  }

  sup {
    vertical-align: super;
    font-family: var(--text-sans);
    font-size: var(--sans-xxsmall);
  }
}

// Code blocks

td code {
  background-color: #e5eff5;
  border-radius: 2px;
  padding: 2px 4px;
}
