name: Publish package to GitHub Packages
on:
  release:
    types: [published, edited]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      # Set up .npmrc file to publish to GitHub Packages
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@guardian'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build:lib

      - name: Publish
        run: pnpm publish --report-summary
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
